@model IEnumerable<YoutubeSubscriptionOrganizer.Core.Models.YoutubeChannel>

@{
    ViewBag.Title = "Home Page";
}
<div class="mainContainer" ng-app="app">
    @*<div class="jumbotron">
            <h1>YouTube Subscription Organizer</h1>
            <input type="file">Upload xml file
        </div>*@

    <div class="dragNdrop" ng-controller="DragDropController">
        <div class="container-fluid">
            <div class="allSubscriptions">
                <h3>All Subscriptions</h3>
                <ul>
                    @{int i = 0;}
                    @foreach (var channel in Model)
                    {
                        <li draggable="true" id="li_@i">@channel.Title</li>

                        i++;
                    }
                </ul>
            </div>

            <div class="dropDivsContainer">
                <div class="dropDiv createNewList">
                    <p>Drop here to create a new list</p>
                    <ul></ul>
                </div>
            </div>
        </div>
    </div>

</div>





@section scripts
{
    @*<script src="~/Scripts/CustomScripts/dragNDrop.js" type="text/javascript"></script>*@
    <script src="../../Scripts/angular.min.js" type="text/javascript"></script>
    <script src="../../Scripts/app/app.js" type="text/javascript"></script>
    <script src="../../Scripts/app/DragDropController.js" type="text/javascript"></script>
}